<div class="filters">
  <input type="text" [formControl]="filterCtrl" placeholder="Filtrar por título ou descrição" />

  <select [formControl]="filterPriorityCtrl">
    <option value="">Todas as prioridades</option>
    @for (p of priorities; track p) {
      <option [value]="p">{{ p }}</option>
    }
  </select>
</div>

<div class="board-grid">
  @for (col of columns; track col.status) {
    <div class="column">
      <div class="column-header">
        <div class="column-label">{{ col.label }}</div>
        <div>Total: {{ tasksByStatus()[col.status]?.length ?? 0 }}</div>
      </div>
      <div
        cdkDropList
        [id]="col.status"
        [cdkDropListData]="col.status"
        [cdkDropListConnectedTo]="connectedTo(col.status)"
        (cdkDropListDropped)="onDrop($event)"
        class="drop-list"
      >
        @for (task of tasksByStatus()[col.status] ?? []; track task.id) {
          <div
            cdkDrag
            [cdkDragData]="task"
            class="task-card"
          >
            <div>
              <div style="display: flex; gap: 1em">
                <div>Título:</div>
                <input
                  [formControl]="titleCtrlByTaskId()[task.id]"
                  (blur)="onTitleBlur(task.id, task)"
                  style="flex-grow: 1"
                />
                @if (titleCtrlByTaskId()[task.id].hasError('minlength')) {
                  <span style="color: red">
                    (mínimo {{ titleCtrlByTaskId()[task.id].getError('minlength')?.requiredLength }})
                  </span>
                }
              </div>
            </div>
            <div style="display: flex; gap: 1em; margin-top: .5rem;">
              <div>
                <div>Descrição:</div>
                <div style="text-align: right; font-size: .8rem">
                  {{ descriptionCtrlByTaskId()[task.id].value.length }}/{{ maxDescriptionChar }}
                </div>
              </div>
              <textarea
                [formControl]="descriptionCtrlByTaskId()[task.id]"
                [maxlength]="maxDescriptionChar"
                (blur)="onDescriptionBlur(task.id, task)"
                style="flex-grow: 1; height: 5em"
              ></textarea>
            </div>
            <div style="display: flex; gap: 1em; margin-top: .5rem;">
              <div>Prioridade:</div>
              <select [formControl]="priorityCtrlByTaskId()[task.id]">
                @for (p of priorities; track p) {
                  <option [value]="p">{{ p }}</option>
                }
              </select>
              <button (click)="onViewTask(task.id)" style="margin-left: auto">
                Ver Detalhes
              </button>
              <button (click)="onDeleteTask(task.id)">Deletar</button>
            </div>
          </div>
        }
      </div>
      <button (click)="board.createTask(col.status)" class="create-task-btn">
        Criar tarefa
      </button>
    </div>
  }
</div>
